.recipeHeading {
    background-color: blue;
}

#bigMac {
    height: auto;
    width: 500px;
}

.recipeImage {
    height: auto;
    width: 200px;
}

p {
    color: aqua;
}

.prep {
    font-style: italic;
}